VITE_API_URL=https://script.google.com/macros/s/AKfycbzCGnTzRNa_uj_CF_Oisaw2tmQsjDgdOp_Ymxv0J5p1zfTbyvtctoHcGJVqemAh4oB1UA/exec
VITE_APPS_SCRIPT_URL=https://script.google.com/macros/s/AKfycbzCGnTzRNa_uj_CF_Oisaw2tmQsjDgdOp_Ymxv0J5p1zfTbyvtctoHcGJVqemAh4oB1UA/exec
VITE_APPS_SCRIPT_DEPLOYMENT_ID=AKfycbzCGnTzRNa_uj_CF_Oisaw2tmQsjDgdOp_Ymxv0J5p1zfTbyvtctoHcGJVqemAh4oB1UA
